---
import Section from "../Section.astro";
import { competences } from "@cv";
---

<Section title="Competencias">
  <ul>
    {
      competences.map(({ name, area, isActive }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    {isActive && <span>•</span>}
                    {name}
                  </h3>
                </div>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
  ul {
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    border-radius: 6px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    /*
    padding: 0.2rem 0.6rem;
    */
  }

  article h3 span {
    color: rgb(31, 185, 0);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
</style>
